// new codes as per figma designs

$color-text: #2C3F50;

$font-regular: Roboto-Regular;
$font-bold: Roboto-Bold;
$font-medium: Roboto-Medium;
$font-italic: Roboto-Italic;
$font-thin: Roboto-Thin;
$font-light: Roboto-Light;

