/*
**
** Global level CSS
** 
*/
@import 'typography';
@import 'variables';
@import 'bootstrap/bootstrap.scss';
// @import 'pretty-checkbox/src/pretty-checkbox.scss';

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    height: 100%;
}